@model AspNetCoreIdentityPractical.Models.Account.ForgotPasswordModel

<div class="container">
   <div class="row">
      <div class="col-md-12">
         <h3>Forgot Password</h3>
         <br />
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <form method="post">
            <div class="form-row">
               <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <div class="form-row">
               <div class="form-group col-sm-6 col-md-6 col-xs-6">
                  <label for="Email">Email</label>
                  <input asp-for="@Model.Email" placeholder="Email" class="form-control"/>
                  <span asp-validation-for="@Model.Email" class="text-danger"></span>
               </div>
            </div>
            <div class="form-row">
               <div class="form-group col-md-12">
                  <button type="submit" class="btn btn-primary">Send Reset Password Link</button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>