@model AspNetCoreIdentityPractical.Models.Account.LoginModel
      
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <h3>Welcome back</h3>
         <br />
      </div>
   </div>
   <div class="row">
      <div class="col-md-6">
         <form method="post">
            <div class="form-row">
               <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl"/>
            <div class="form-row">
               <div class="form-group col-md-12">
                  <label for="Email">Email</label>
                  <input asp-for="@Model.Email" class="form-control" placeholder="Email"/>
                  <span asp-validation-for="@Model.Email" class="text-danger"></span>
               </div>
            </div>
            <div class="form-row">
               <div class="form-group col-md-12">
                  <label for="Password">Password</label>
                  <input type="password" asp-for="@Model.Password" class="form-control" placeholder="Password"/>
                  <span asp-validation-for="@Model.Password" class="text-danger"></span>
               </div>
            </div>
            <div class="form-row">
               <div class="form-check col-md-12">
                  <input class="form-check-input" type="checkbox" asp-for="@Model.RememberMe" />
                  <label class="form-check-label" for="RememberMe">Remember Me</label>
               </div>
            </div>
            <div class="form-row">
               <div class="form-group col-md-12">
                  <button type="submit" class="btn btn-primary" style="width : 100%;">Sign In</button>
               </div>
            </div>
            <div class="form-row">
               <div class="form-group col-md-12">
                  <a href='@Url.Action("ForgotPassword")' class="btn btn-default" style="width : 100%;">Forgot Password</a>
               </div>
            </div>
         </form>
      </div>
      <div class="col-md-6">
         <p>Don't have an account ?</p>
         @Html.ActionLink("Register an account", "Register", "Account", new {}, new { @class = "btn btn-primary" })
      </div>
   </div>
</div>