@model AspNetCoreIdentityPractical.Models.Account.RegisterModel

<div class="container">
   <div class="row">
      <div class="col-md-12">
         <h3>Create your account</h3>
         <br/>
      </div>
   </div>
   <div class="row">
      <div class="col-md-6">
         <form method="post">
            <div class="form-row">
               <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <div class="form-row">
               <div class="form-group col-sm-6 col-md-6 col-xs-6">
                  <label for="FirstName">First Name</label>
                  <input asp-for="@Model.FirstName" placeholder="First Name" class="form-control">
                  <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
               </div>
               <div class="form-group col-sm-6 col-md-6 col-xs-6">
                  <label for="LastName">Last Name</label>
                  <input asp-for="@Model.LastName" placeholder="Last Name" class="form-control"/>
                  <span asp-validation-for="@Model.LastName" class="text-danger"></span>
               </div>
            </div>
            <div class="form-row">
               <div class="form-group col-md-12">
                  <label for="Email">Email</label>
                  <input asp-for="@Model.Email" placeholder="Email" class="form-control"/>
                  <span asp-validation-for="@Model.Email" class="text-danger"></span>
               </div>
            </div>
             <div class="form-row">
               <div class="form-group col-md-6">
                  <label for="Password">Password</label>
                  <input asp-for="@Model.Password" placeholder="Password" class="form-control"/>
                  <span asp-validation-for="@Model.Password" class="text-danger"></span>
               </div>
               <div class="form-group col-md-6">
                  <label for="ConfirmationPassword">Confirmation Password</label>
                  <input asp-for="@Model.ConfirmationPassword" placeholder="Confirmation Password" class="form-control" />
                  <span asp-validation-for="@Model.ConfirmationPassword" class="text-danger"></span>
               </div>
            </div>
            <div class="form-row">
               <div class="form-group col-md-12">
                  <button type="submit" class="btn btn-primary">Submit</button>
               </div>
            </div>
         </form>
      </div>
      <div class="col-md-6">
         <p>Already have an account ?</p>
         @Html.ActionLink("Sign In", "Login", "Account", new {}, new { @class = "btn btn-primary" })
      </div>
   </div>
</div>