@model AspNetCoreIdentityPractical.Models.Account.ResetPasswordModel

<div class="container">
   <div class="row">
      <div class="col-md-12">
         <h3>Reset Password</h3>
         <br />
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <form method="post">
            <input asp-for="@Model.Email" type="hidden"/>
            <input asp-for="@Model.Token" type="hidden"/>
            <div class="form-row">
               <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <div class="form-row">
               <div class="form-group col-md-6">
                  <label for="Password">Password</label>
                  <input asp-for="@Model.Password" placeholder="Password" class="form-control"/>
                  <span asp-validation-for="@Model.Password" class="text-danger"></span>
               </div>
               <div class="form-group col-md-6">
                  <label for="ConfirmationPassword">Confirmation Password</label>
                  <input asp-for="@Model.ConfirmationPassword" placeholder="ConfirmationPassword" class="form-control"/>
                  <span asp-validation-for="@Model.ConfirmationPassword" class="text-danger"></span>
               </div>
            </div>
            <div class="form-row">
               <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
         </form>
      </div>
   </div>
</div>