<div class="container">
   <div class="row">
      <div class="col-md-12">
         <h2>Welcome Back</h2>
         <h3>@ViewBag.LoggedInUser</h3>
         <form asp-controller="Account" asp-action="SignOut">
            <button type="submit" class="btn btn-primary">Sign Out</button>
         </form>
      </div>
   </div>
</div>